<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits App</title>
</head>
<body>
    <h1>
        Welcome to the Fruits App
    </h1>
    <!-- views/index.ejs -->
<a href="/fruits">Browse Fruits</a>
<!-- views/fruits/new.ejs -->
<a href="/fruits/new">Add New Fruit</a>
<!-- views/fruits/index.ejs -->


    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste distinctio beatae soluta, animi consequatur earum maxime perspiciatis assumenda cumque doloremque neque sint iure voluptatem veritatis a vitae culpa error eos.
    </p>
</body>
</html>